*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__menu{
    display: flex;
    column-gap: 35px;
}
.header__auth{
    display: flex;
    align-items: center;
    column-gap: 40px;
}